.header
{
	background-color:red;
	display:flex;
	min-height:82px;
	width:100%;
	align-items:center;
	justify-content:space-between;
	
}
.icontuoitre
{
	width:15%;
	align-items:center;
	
}
.headerthongin
{
	display:flex;

	margin-right:10px;
}
a
{
	
	text-decoration:none;
	color:white;
	margin-right:10px;
}
ul
{	
	display:flex;
	margin-right:10px;
	list-style:none;

}
.content
{
	display:flex;
}
.trai
{
	width:20%;
	color:blue;
	height:500px;
	margin-left:10px;

}
.giua
{
	width:50%;
	color:yellow;
	height:500px;
	margin:20px;
}
.phai
{
	width:30%;
	color:green;
	height:500px;
	margin-right:10px;
}
